.colored-text {
    color: #c80a48;
}
a {
    color: #c80a48;
}
a:hover, a:focus {
    color: #c80a48;
}
.btn.btn-custom {
    background-color: #c80a48;
    box-shadow: 0 3px 0 #970837;
}
.btn.btn-custom:hover {
    background-color: #b0093f;
}
span.divider {
    background-color: #c80a48;
}
.navbar.navbar-fixed-top .navbar-nav > li.active > a {
    color: #c80a48;
}
.navbar.navbar-fixed-top .navbar-toggle {
    background-color: #c80a48;
}
.column-chart > .chart > .item > .bar > .item-progress {
    background-color: #c80a48;
}
#references .flexslider.references > .slides > .item .profile::before {
    background-color: #c80a48;
}
.circle-chart .item > .percent {
    background-color: #c80a48;
}
.bar-chart > .item > .bar > .percent {
    background-color: #c80a48;
}
.milestones .item > .circle {
    background-color: #c80a48;
}
.work-process .item .inner-content > i {
    background-color: #c80a48;
}
footer.footer .page-scroll > a {
    background-color: #c80a48;
    box-shadow: 0 3px 0 #970837;
}
.plan .head{
  background-color: #c80a48;
}
